{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
<style>
body {
	background-color: #151515;
	color: #eee;
	font-family: 'Share Tech Mono', monospace;
	user-select: none;
}

.info {
	position: absolute;
	top: 0;
	left: 0;
    font-size:16px;
	margin: 10px;
}

.button {
	background-color: #111;
	border: solid 1px #888;
	padding: 8px 25px;
	font-size: 26px;
	letter-spacing: 2px;
	cursor: pointer;
}
.start {
	position: absolute;
	left: 50%;
}

</style>
{% endblock %}

{% block content %}
<body>
    <div class="info">
        <p>Paste your .json file in TApp/upload_files. Fill in the details and go!</p>
    </div>
    <form action="" method="POST">
    {{ form.csrf_token }}
    <br><br><br>
    <div>
        {{ wtf.form_field(form.file_) }}
    </div>
    {% for field in form.fields %}
        <div>
            {{ wtf.form_field(field) }}
        </div>
    {% endfor %}
    <input class="button start" type="submit" value="TABULATE">
    </button>
    </form>
</body>
{% endblock %}
